# Virtual Environments
.venv/
.vrnv/
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints*/

# OS-Specific Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Settings
.vscode/
.idea/

